<ion-header>
  <ion-navbar color="header">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>MATCHES</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="content">
  <ion-card *ngFor="let m of match | async; let i = index" class="game-card">
    <ion-card-content (click)="navigate(m)" class="card-row">
      <ion-row class="card-row" align-items-center>
        <ion-col col-4 text-center>
          <p *ngIf="a[i]" class="orange">
            <strong>{{m.data.team1_score}}</strong>
          </p>
          <p class="orange">
            <strong>{{m.data.team1_name}}</strong>
          </p>
        </ion-col>
        <ion-col col-4 text-center>
          <p *ngIf="!a[i]" class="font-besar">
            <strong>{{m.data.datetime | date : 'h:mm'}} </strong>
            <span class="font-kecik">
              <strong>{{m.data.datetime | date: 'a'}}</strong>
            </span>
          </p>
          <p *ngIf="a[i]" class="font-besar-2">
            <strong>FULL TIME</strong>
          </p>
          <p class="font-kecik">{{m.data.datetime | date : 'E'}}, {{m.data.datetime | date : 'd/M'}}</p>
          <p class="font-kecik">{{m.data.category}}</p>
          <p class="font-kecik" *ngIf="(m.data.group?m.data.group.substring(0,2) == 'st':'');else content">Group {{m.data.group.substring(2,3)}}</p>
          <ng-template #content>
            <ng-container *ngIf="(m.data.group?m.data.group.substring(0,2) != 'st':''); else content2">
              <p class="font-kecik">Group {{m.data.group.substring(3,4)}}</p>
            </ng-container>
          </ng-template>
          <ng-template #content2>
            <p class="font-kecik">{{m.data.description}}</p>
          </ng-template>
        </ion-col>
        <ion-col col-4 text-center>
          <p *ngIf="a[i]" class="orange">
            <strong>{{m.data.team2_score}}</strong>
          </p>
          <p class="orange">
            <strong>{{m.data.team2_name}}</strong>
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>