<ion-header>

  <ion-navbar color="header">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>TEAM</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <h3 *ngIf="!show" class="gray" text-center>Choose zone</h3>

  <div padding *ngIf="show" class="category">
    LELAKI
  </div>

  <ion-card *ngIf="show">
    <ion-card-content>
      <div *ngFor="let t of teamL | async; let i = index">
        <ion-row (click)="selectteam(t)">
          <ion-col col-2 text-center class="gray">{{i+1}}</ion-col>
          <ion-col col-10 text-left class="orange">{{t.data.team_name}}</ion-col>
        </ion-row>
        <hr class="hr100">
      </div>
    </ion-card-content>
  </ion-card>

  <div padding *ngIf="show" class="category">
    PEREMPUAN
  </div>

  <ion-card *ngIf="show">
    <ion-card-content>
      <div *ngFor="let t of teamP | async; let i = index">
        <ion-row (click)="selectteam(t)">
          <ion-col col-2 text-center class="gray">{{i+1}}</ion-col>
          <ion-col col-10 text-left class="orange">{{t.data.team_name}}</ion-col>
        </ion-row>
        <hr class="hr100">
      </div>
    </ion-card-content>
  </ion-card>



</ion-content>