page-bracket {
    p {
        font-size: 11px !important;
    }

    .card-content-md{
        padding-left:0;
        padding-right:0;
        padding-top:8px;
        padding-bottom:8px;
    }

    .category{
        color: #969798;
    }

    .quarter{
        left: 5px;
    }

    .semi{
        margin-top:125px;
    }

    .semi2{
        margin-top:170px;
    }

    .final{
        margin-top:185px;
    }

    .gray{
        color: #A4ACB0;
    }

}
