page-bracket {
    p {
        font-size: 11px !important;
    }

    .card-ios {
        width: 100%;
        font-size: 1.4rem;
        margin-left:0;
    }

    .card-content-ios{
        padding:0;
        background-color: rgb(228,231,232);
    }

    .pd50{
        padding-top: 50px;
    }

    .category{
        color: #969798;
        text-align: center;
    }

    .quarter{
        left: 5px;
    }

    .content-ios hr{
        height: 1px;
    }

    .semi{
        margin-top:65px;
    }

    .semi2{
        margin-top:146px;
    }

    .final{
        margin-top:200px;
    }

    .gray{
        color: #A4ACB0;
    }

    .fcolor{
        color:#ff5100;
    }

    .top-row-red{
        border-top: 2px solid #ED1C24;
    }

    .font-red{
        color: #ED1C24;
    }

    .bg-gray{
        background-color: rgb(187,190,191);
    }

    .card-content-md {
        padding:0;
        background-color: rgb(228,231,232);
    }
}
