page-bracket {
    p {
        font-size: 11px !important;
    }

    .card-content-md{
        padding-left:0;
        padding-right:0;
        padding-top:8px;
        padding-bottom:8px;
    }

    .card-ios {
        width: 100%;
        font-size: 1.4rem;
        margin-left:0;
    }

    .card-content-ios{
        padding-left:0;
        padding-right:0;
        padding-top:8px;
        padding-bottom:8px;
    }

    .pd50{
        padding-top: 50px;
    }

    .category{
        color: #969798;
        text-align: center;
    }

    .quarter{
        left: 5px;
    }

    .content-ios hr{
        height: 1px;
    }

    .semi{
        margin-top:65px;
    }

    .semi2{
        margin-top:130px;
    }

    .final{
        margin-top:185px;
    }

    .gray{
        color: #A4ACB0;
    }

    .fcolor{
        color:#ff5100;
    }

}
