page-home {
    .customBtn{
        width: 100%;
        background-color: #ff5100 !important;
    }

    img {
        height: auto;
        width: 100%;
        margin: auto;
        display: block;
    }

    .content{
        // background-image: url("../assets/imgs/kebangsaan.jpg");
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: 85% auto;
    }

    .bg-white{
        background-color: white;
    }

    ion-card:nth-child(even){
        ion-card-content{
            background-color: black;
            color: white;
            p {
                color: white
            }
        }
    }


}
