<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon class="font-red" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>NEWS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bg-white">

  <ion-spinner *ngIf="loading"></ion-spinner>

  <div *ngIf="(news | async) as news">
    <div *ngIf="news.length < 1">
      <h3 style="text-align: center;margin-top: 50px">No news</h3>
    </div>
  </div>

  <ion-card *ngFor="let news of news | async; let i=index">

    <img src="{{news.image}}">

    <ion-card-content>
      <b>{{news.title}}</b>
      <p>{{news.description}}</p>
    </ion-card-content>

  </ion-card>

</ion-content>