<ion-menu [content]="mycontent">
    <ion-header class="menu-dark">
        <div class="profile">
            <img class="profile-picture" src="assets/imgs/icon_2.png" />
            <h3 class="name" *ngIf="team_name != null">{{team_name}}</h3>
        </div>
    </ion-header>
    <ion-content class="menu-dark">
        <ion-list no-lines id="sidenav">
            <ion-item (click)="home()" class="list-bg">
                <ion-icon name="ios-home-outline" item-start class="font-red"></ion-icon>
                NEWS
            </ion-item>
            <ion-item class="list-bg" (click)="menuItemHandler()">
                <ion-icon name="ios-basketball-outline" item-start class="font-red"></ion-icon>
                TOURNAMENT
                <ion-icon *ngIf="!showSubmenu" name="ios-arrow-forward-outline" item-end class="font-red"></ion-icon>
                <ion-icon *ngIf="showSubmenu" name="ios-arrow-down-outline" item-end class="font-red"></ion-icon>
            </ion-item>
            <ion-item-group submenu [class.visible]="showSubmenu" class="list-bg">
                <div *ngFor="let t of tour$ | async; let i = index">
                    <ion-item submenu-item *ngIf="showSubmenu" (click)="sel_tournament(t.key)" class="list-bg">
                        {{t.data.tournament_name}}
                    </ion-item>
                </div>
            </ion-item-group>
            <ion-item *ngIf="!(isLoggedIn | async)" (click)="login()" class="list-bg">
                    <ion-icon name="log-in" item-start class="font-red"></ion-icon>
                    Sign In
                </ion-item>
            <ion-item *ngIf="(isLoggedIn | async)" (click)="manage()" class="list-bg">
                <ion-icon name="people" item-start class="font-red"></ion-icon>
                MY TEAM
            </ion-item>
            <ion-item *ngIf="(isLoggedIn | async)" (click)="logout()" class="list-bg">
                <ion-icon name="log-out" item-start class="font-red"></ion-icon>
                LOGOUT
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #mycontent></ion-nav>