<ion-menu [content]="mycontent">
    <ion-content class="menu-dark">
        <ion-list no-lines id="sidenav">
            <ion-item (click)="home()" class="list-bg">
                <ion-icon name="ios-home-outline" item-start class="font-red"></ion-icon>
                HOME
            </ion-item>
            <ion-item class="list-bg" (click)="menuItemHandler()">
                <ion-icon name="ios-basketball-outline" item-start class="font-red"></ion-icon>
                TOURNAMENT
                <ion-icon *ngIf="!showSubmenu" name="ios-arrow-forward-outline" item-end class="font-red"></ion-icon>
                <ion-icon *ngIf="showSubmenu" name="ios-arrow-down-outline" item-end class="font-red"></ion-icon>
            </ion-item>
            <ion-item-group submenu [class.visible]="showSubmenu" class="list-bg">
                <!-- <div *ngFor="let z of tour$ | async;let i = index">
                    <ion-item submenu-item *ngIf="showSubmenu" (click)="menuInsideItemHandler(i)" class="list-bg">
                        {{z.data.tour_name}}
                        <div *ngFor="let x of z.a | async; let idx = index">
                            <ion-item subsubmenu-item *ngIf="showSubSubmenu[i]" (click)="zone(x.data.zone_name)" class="list-inner-bg">
                                {{x.data.zone_name}}
                            </ion-item>
                        </div>
                    </ion-item>
                </div> -->
                <div *ngFor="let t of tour$ | async; let i = index">
                    <ion-item submenu-item *ngIf="showSubmenu" (click)="sel_tournament(t.key)" class="list-bg">
                        {{t.data.tournament_name}}
                    </ion-item>
                </div>
            </ion-item-group>
            <ion-item (click)="galleryPage()" class="list-bg">
                <ion-icon name="ios-image-outline" item-start class="font-red"></ion-icon>
                GALLERY
            </ion-item>
            <!-- <ion-item (click)="loginPage()" class="list-bg">
                <ion-icon name="ios-log-in-outline" item-start class="font-red"></ion-icon>
                LOGIN
            </ion-item> -->
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #mycontent></ion-nav>