<ion-header>

  <ion-navbar>
    <ion-title *ngIf="tba" text-center></ion-title>
    <ion-title *ngIf="!tba" text-center>{{data?.team1_name}} <span class="font-red">VS</span> {{data?.team2_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content" padding>
  <h3 *ngIf="tba" class="gray" text-center>No details</h3>
  <ion-card *ngIf="!tba">
    <ion-card-content>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-10>
              {{data?.team1_name}}
            </ion-col>
            <ion-col col-2>
              {{data?.team1_score}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10>
              {{data?.team2_name}}
            </ion-col>
            <ion-col col-2>
              {{data?.team2_score}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!tba">
    <ion-card-content>
      <ion-row>
        <ion-col col-4>
          Date & Day
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{data?.datetime | date: 'EEEE, d/M'}} ({{data?.datetime | date: 'h:mm a'}})
        </ion-col>
      </ion-row>
      <ion-row class="card-content-row">
        <ion-col col-4>
          Venue
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{data?.venue}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          Stage
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{data?.description}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="data?.group" class="card-content-row">
        <ion-col col-4>
          Group
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{group}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          Category
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{data?.category}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card *ngIf="!tba">
    <ion-card-content>
      <div>
        <ion-row>
          <ion-col col-6 class="orange">
            {{data?.team1_name}}
          </ion-col>
          <ion-col col-6 text-right class="orange">
            TOP SCORER
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row>
          <ion-col col-2>
            No.
          </ion-col>
          <ion-col col-7>
            NAME
          </ion-col>
          <ion-col col-3 text-right>
            PTS
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row *ngFor="let t1 of team1_scorer$|async; let i =index">
          <ion-col col-2>
            {{i+1}}
          </ion-col>
          <ion-col col-7>
            {{t1.name}}
          </ion-col>
          <ion-col col-3 text-right>
            {{t1.points}}
          </ion-col>
        </ion-row>
        <hr/>
      </div>

      <div>
        <ion-row>
          <ion-col col-6>

          </ion-col>
          <ion-col col-6 text-right class="orange">
            TOP 3 POINTER
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row>
          <ion-col col-2>
            No.
          </ion-col>
          <ion-col col-7>
            NAME
          </ion-col>
          <ion-col col-3 text-right> 
            SHOT
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row *ngFor="let t1 of team1_3ptr$|async; let i =index">
          <ion-col col-2>
            {{i+1}}
          </ion-col>
          <ion-col col-7>
            {{t1.name}}
          </ion-col>
          <ion-col col-3 text-right>
            {{t1.points}}
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!tba">
    <ion-card-content>
      <div>
        <ion-row>
          <ion-col col-6 class="orange">
            {{data?.team2_name}}
          </ion-col>
          <ion-col col-6 text-right class="orange">
            TOP SCORER
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row>
          <ion-col col-2>
            No.
          </ion-col>
          <ion-col col-7>
            NAME
          </ion-col>
          <ion-col col-3 text-right>
            PTS
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row *ngFor="let t1 of team2_scorer$|async; let i =index">
          <ion-col col-2>
            {{i+1}}
          </ion-col>
          <ion-col col-7>
            {{t1.name}}
          </ion-col>
          <ion-col col-3 text-right>
            {{t1.points}}
          </ion-col>
        </ion-row>
        <hr/>
      </div>

      <div>
        <ion-row>
          <ion-col col-6>

          </ion-col>
          <ion-col col-6 text-right class="orange">
            TOP 3 POINTER
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row>
          <ion-col col-2>
            No.
          </ion-col>
          <ion-col col-7>
            NAME
          </ion-col>
          <ion-col col-3 text-right>
            SHOT
          </ion-col>
        </ion-row>
        <hr/>
        <ion-row *ngFor="let t1 of team2_3ptr$|async; let i =index">
          <ion-col col-2>
            {{i+1}}
          </ion-col>
          <ion-col col-7>
            {{t1.name}}
          </ion-col>
          <ion-col col-3 text-right>
            {{t1.points}}
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card> -->
</ion-content>