<ion-header>

  <ion-navbar color="header">
    <ion-title *ngIf="tba" text-center></ion-title>
    <ion-title *ngIf="!tba" text-center>{{data?.team1_name}} @ {{data?.team2_name}}</ion-title>
    <ion-buttons end>
      <button ion-button small icon-only (click)="statsPage()">
        <ion-icon name="stats"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="content">
  <h3 *ngIf="tba" class="gray" text-center>No details</h3>
  <ion-card *ngIf="!tba">
    <ion-card-content>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <ion-col col-10>
              {{data?.team1_name}}
            </ion-col>
            <ion-col col-2>
              {{data?.team1_score}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10>
              {{data?.team2_name}}
            </ion-col>
            <ion-col col-2>
              {{data?.team2_score}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!tba">
    <ion-card-content>
      <ion-row>
        <ion-col col-4>
          Date & Day
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{data?.datetime | date: 'EEEE, d/M'}} ({{data?.datetime | date: 'h:mm a'}})
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          Venue
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{data?.venue}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          Stage
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{data?.description}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="data?.group">
        <ion-col col-4>
          Group
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{group}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          Category
        </ion-col>
        <ion-col col-1>
          :
        </ion-col>
        <ion-col col-7>
          {{data?.category}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>