page-game-details{

    .col-10{
        padding-left: 0 !important;
    }
    .cc2{
        padding-top: 25px !important;
    }

    .card-ios{
        margin-left:0;
        width: 100%;
    }

    .gray{
        color: #A4ACB0;
    }
}