page-newsletter {
    .font-red{
        color: #ED1C24
    }

    p, h2{
        color: white;
    }

    .bg-wall{
        background-color: black;
    }

    .button-md{
        width: 100%;
        bottom: 0;
        top: 100px;
    }

    .green{
        background-color: green;
    }

    .red{
        background-color:  #ED1C24;
    }
}
