page-team-details {
    .category{
        color: #969798;
    }

    .hr100{
        width: 100%;
        margin: 0;
    }

    .card-content-md{
        padding:0;
    }

    .orange{
        color: #e05114;
    }

    .gray{
        color: #A4ACB0;
    }
}
