page-team-details {
    .category{
        color: #969798;
    }

    .hr100{
        width: 100%;
        margin: 0;
    }

    .card-content-md{
        padding:0;
    }

    .card-ios {
        margin-left : 0;
        width: 100%;
    }

    .card-content-ios{
        padding: 0;
    }

    .content-ios hr {
        height: 1px;
    }

    .orange{
        color: #e05114;
    }

    .gray{
        color: #A4ACB0;
    }
}
