page-standing{
    .category{
        color: #969798;
    }

    .light-hr{
        background-color: #ff5100 !important;
    }
    
    .bgc{
        background-color: #ff5100 !important;
    }

    .bgc2{
        background-color: #ff4100 !important;
    }
    
    .light {
        color: #fff !important;
    }

    .card-ios{
        margin-left:0;
        width: 100%;
    }
}

