.light-hr{
    background-color: #ff5100 !important;
}

.bgc{
    // border: 1px solid #ff5100;
    background-color: #ff5100 !important;
}

.light {
    color: #fff !important;
}

ion-card {
    border: 1px solid #ff5100;
 }